[v-cloak] {
    display: none;
}

#loader {
    display: none;
}

[v-cloak] + #loader {
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

body {
    background: #e5e7ea;
}

.cursor-help {
    cursor: help;
}

.tooltip {
    top: 0;
}

.svg-icon {
    height: 1em;
    vertical-align: -.125em;
}

/* Minecraft font by C_Far */
@font-face {
    font-family: 'AZ Launcher';
    font-style: normal;
    font-weight: 400;
    src: url('az_launcher.woff2') format('woff2'), url('az_launcher.woff') format('woff');
}

.mc-color-0 {
    color: #000;
    text-shadow: 1px 1px 0 #000;
}

.mc-color-1 {
    color: #00a;
    text-shadow: 1px 1px 0 #00002a;
}

.mc-color-2 {
    color: #0a0;
    text-shadow: 1px 1px 0 #002a00;
}

.mc-color-3 {
    color: #0aa;
    text-shadow: 1px 1px 0 #002a2a;
}

.mc-color-4 {
    color: #a00;
    text-shadow: 1px 1px 0 #2a0000;
}

.mc-color-5 {
    color: #a0a;
    text-shadow: 1px 1px 0 #2a002a;
}

.mc-color-6 {
    color: #fa0;
    text-shadow: 1px 1px 0 #2a2a00;
}

.mc-color-7 {
    color: #aaa;
    text-shadow: 1px 1px 0 #2a2a2a;
}

.mc-color-8 {
    color: #555;
    text-shadow: 1px 1px 0 #151515;
}

.mc-color-9 {
    color: #55f;
    text-shadow: 1px 1px 0 #15153f;
}

.mc-color-a {
    color: #5f5;
    text-shadow: 1px 1px 0 #153f15;
}

.mc-color-b {
    color: #5ff;
    text-shadow: 1px 1px 0 #153f3f;
}

.mc-color-c {
    color: #f55;
    text-shadow: 1px 1px 0 #3f1515;
}

.mc-color-d {
    color: #f5f;
    text-shadow: 1px 1px 0 #3f153f;
}

.mc-color-e {
    color: #ff5;
    text-shadow: 1px 1px 0 #3f3f15;
}

.mc-color-f {
    color: #fff;
    text-shadow: 1px 1px 0 #3f3f3f;
}

.mc-background-0 {
    background: #000;
}

.mc-background-1 {
    background: #00a;
}

.mc-background-2 {
    background: #00aa00;
}

.mc-background-3 {
    background: #0aa;
}

.mc-background-4 {
    background: #a00;
}

.mc-background-5 {
    background: #aa00aa;
}

.mc-background-6 {
    background: #fa0;
}

.mc-background-7 {
    background: #aaa;
}

.mc-background-8 {
    background: #555;
}

.mc-background-9 {
    background: #55f;
}

.mc-background-a {
    background: #55ff55;
}

.mc-background-b {
    background: #5ff;
}

.mc-background-c {
    background: #f55;
}

.mc-background-d {
    background: #f5f;
}

.mc-background-e {
    background: #ff5;
    border: 1px solid #aaaaaa;
}

.mc-background-f {
    background: #fff;
    border: 1px solid #aaaaaa;
}

.color-selectors .btn {
    margin-bottom: 0.25rem;
}

.color-selectors .btn * {
    width: 1.25rem;
    height: 1.25rem;
    display: block;
}

.rainbow {
    background: linear-gradient(140deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    animation: rainbow 8s ease-in-out infinite;
    background-size: 2000% 2000%;
}

.preview {
    font-family: 'AZ Launcher', monospace;
    font-size: 1.25rem;
    color: #aaa;
    background: #707479;
}

@keyframes rainbow {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0 0;
    }
}
