html,
body {
    height: 100%;
    width: 100%;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    color: #fff;
    background: linear-gradient(to bottom right, #1f8ef2, #981ceb);
    font-family: Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

main {
    display: block;
}

a {
    text-decoration: none;
    background-color: transparent;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

small,
.small {
    font-size: 80%;
    font-weight: 400;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;
    z-index: 100;
}

h1 {
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    -webkit-animation: fadeInLeft 1s 0.1s ease backwards;
    animation: fadeInLeft 1s 0.2s ease backwards;
}

.logo {
    width: 200px;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease;
    -webkit-animation: bounceInDown 0.75s 0.85s ease backwards;
    animation: bounceInDown 0.75s 0.85s ease backwards;
}

.logo:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.btn {
    display: inline-block;
    background: transparent;
    font-size: 1.1rem;
    color: #fff;
    border: 2px solid #fff;
    padding: 0.7rem 1rem;
    margin: 0.3rem;
    transition: all 0.25s ease-in-out;
    -webkit-animation: fadeInUp 0.6s 1s ease backwards;
    animation: fadeInUp 0.6s 1s ease backwards;
}

.btn:hover {
    background: #f91c27;
    border-color: transparent;
}

@media (max-width: 650px) {
    .btn {
        display: block;
    }
}

.svg-icon::before {
    content: '';
    display: inline-block;
    margin-right: 0.1em;
    vertical-align: -0.225em;
    height: 1.05em;
    width: 1.05em;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.btn-github {
    animation-delay: 0.5s;
}

.btn-github::before {
    background-image: url('../svg/github.svg');
}

.btn-github:hover {
    background: #696969;
}

.btn-twitter {
    animation-delay: 0.6s;
}

.btn-twitter::before {
    background-image: url('../svg/twitter.svg');
}

.btn-twitter:hover {
    background: #1da1f2;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
